@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* common styles */
nav, .banner, .features{
    width: 80%;
    margin: 0 auto;
}
.description{
    font-size: 16px;
    color: #727272;
    margin: 15px 0;
}
.btn-primary{
    border: 0;
    border-radius: 10px;
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* header area */
header{
    background-color: #FFF4E7;
    padding: 50px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 600;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-left: 50px;   
}
nav a{
    font-size: 18px;
    color: #424242;
}
.banner-content{
    width: 70%;
    margin: 15px auto;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    color: #131313;
    font-weight: 700;
}

/* features area  */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.features-images{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-content{
    width: 45%;
}
.feature-title{
    font-size: 45px;
}
.normal{
    color: #727272;
    font-weight: 500;
}
.black{
    color: #131313;
    font-weight: 600;
}
.colorful{
    color: #FF900E;
    font-weight: 600;
}

/* .hide{
    display: none;
} */


/* responsive area */
@media screen and (max-width: 576px) {
    /* header area  */
    .banner-title{
        font-size: 35px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    nav li{
        margin-left: 20px;  
    }
    /* features area  */
    .features{
        flex-direction: column-reverse;
    }
    .features-images{
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    .features-content{
        width: 100%;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    /* header area  */
    nav{
        flex-direction: column;
        gap: 20px;
    }
    /* features area  */
    .features{
        flex-direction: column-reverse;
    }
    .features-images{
        width: 100%;
        margin-top: 100px;
    }
    .features-content{
        width: 100%;
    }
}