@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* common styles */
nav, .banner{
    width: 80%;
    margin: 0 auto;
}
.btn-primary{
    border: 0;
    border-radius: 10px;
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}
/* header area */
header{
    background-color: #FFF4E7;
    padding: 50px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 600;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-left: 50px;
    
}
nav a{
    font-size: 18px;
    color: #424242;
}
.banner-content{
    width: 70%;
    margin: 15px auto;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    color: #131313;
    font-weight: 700;
}
.banner-description{
    font-size: 16px;
    color: #727272;
    margin: 15px 0;
}
/* responsive area */